*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#171515;
}

.container{
    width:400px;
    background:rgb(57, 53, 53);
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

h1{
    text-align:center;
    margin-bottom:20px;
    color: rgb(85, 237, 85);
}

.input-group{
    display:flex;
    gap:10px;
}

input{
    flex:1;
    padding:10px;
    border: 1px solid black;
    border-radius: 8px;
}

input:focus{
    outline: none;
}

button{
    padding:10px 15px;
    cursor:pointer;
    border-radius: 10px;
    border: 1px solid black;
}
#add-btn:hover{
    background-color: rgb(34, 255, 0);
    border: 0.5px solid rgb(91, 91, 91);
}

ul{
    list-style:none;
    margin-top:20px;
}

li{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:10px;
    border:1px solid #ddd;
    margin-bottom:10px;
    border-radius:5px;
    color: white;
}
.btn{
    display:flex;
    gap:10px;
}
.edit-btn{
    border: 1px solid black;
    border-radius: 10px;
}
.edit-btn:hover{
    background-color: green;
    color: white;
}
.delete-btn{
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
}
.delete-btn:hover{
    background-color: red;
    color: white;
}