*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111;
}

.container{
    background-color: #222;
    padding: 30px;
    border-radius: 10px;
    width: 350px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

h2{
    text-align: center;
    color: white;
}

input{
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
}

button{
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.email-msg,
.password-msg{
    min-height: 20px;
    font-size: 14px;
    color: red;
}

#result-msg{
    color: green;
    text-align: center;
}